<ion-content>

  <ion-icon name="person-circle-outline"></ion-icon>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Nome completo:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
    <ion-item>
      <ion-textarea placeholder="Enter more information here..."[(ngModel)]="Nome" name="Nome" ngModel></ion-textarea>
    </ion-item>
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Data de nascimento:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-textarea placeholder="Enter more information here..."[(ngModel)]="DataNascimento" name="DataNascimento" ngModel></ion-textarea>
      </ion-item>
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Sexo:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-textarea placeholder="Enter more information here..."[(ngModel)]="Sexo" name="Sexo" ngModel></ion-textarea>
      </ion-item>
     </ion-card-content>

    <ion-card-header>
      <ion-card-title>Estado civil:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-textarea placeholder="Enter more information here..."[(ngModel)]="EstadoCivil" name="EstadoCivil" ngModel></ion-textarea>
      </ion-item>
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Endereço:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-textarea placeholder="Enter more information here..."[(ngModel)]="Endereco" name="Endereco" ngModel></ion-textarea>
      </ion-item>
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Telefone:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-textarea placeholder="Enter more information here..."[(ngModel)]="Telefone" name="Telefone" ngModel></ion-textarea>
      </ion-item>
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Data de batismo:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-textarea placeholder="Enter more information here..."[(ngModel)]="DtBatismo" name="DtBatismo" ngModel></ion-textarea>
      </ion-item>
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Nivel de treinamento:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-textarea placeholder="Enter more information here..."[(ngModel)]="NvlTreinamento" name="NvlTreinamento" ngModel></ion-textarea>
      </ion-item>
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Importante saber:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
 <ion-item>
      <ion-textarea placeholder="Enter more information here..."[(ngModel)]="SaberImportante" name="SaberImportante" ngModel></ion-textarea>
    </ion-item>
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Email:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-textarea placeholder="Enter more information here..."[(ngModel)]="Email" name="Email" ngModel></ion-textarea>
      </ion-item>
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Senha:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-textarea placeholder="Enter more information here..."[(ngModel)]="Senha" name="Senha" ngModel></ion-textarea>
      </ion-item>
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Confirmar senha:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-textarea placeholder="Enter more information here..."[(ngModel)]="ConfSenha" name="Confsenha" ngModel></ion-textarea>
      </ion-item>
    </ion-card-content>

  </ion-card>

  <div tappable>
   <ion-button routerLink="home" size="large">cancelar</ion-button>
    <ion-button (click)="Cadastrar()" size="large">Cadastrar</ion-button>
  </div>
</ion-content>

