   ion-list{
        margin-top: 10vh;
        margin-bottom: 2vh;
    }
    ion-avatar { 
        width: 150px;  
        height: 150px; 
        margin: auto;
    }

   ion-button {
       width: 200PX;
       height: 40px;
       margin-left: 25%;
    }

   
    
